<div class="footer container">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-msg">
    This app is made by <a href="https://www.linkedin.com/in/paula-garc%C3%ADa-de-la-varga/" target="_blank">Paula</a>, <a href="https://www.linkedin.com/in/emily-martinek-737656134/" target="_blank">Emily</a>, <a href="https://www.linkedin.com/in/constantin-beissel-von-gymnich-50b3b5166/" target="_blank">Constantin</a>, and <a href="https://www.linkedin.com/in/alenabauer/" target="_blank">Alena</a>
  </div>
</div>
