.banner {
  padding: 176px 0;
  height: 640px;
  &::after {
    content: "";
    background: url(https://images.pexels.com/photos/287228/pexels-photo-287228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position-y: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 640px;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 4px 4px 12px hsla(0, 0%, 0%, .4);
}

.banner p {
  font-size: 20px;
  color: white;
}

.offers-link-homepage {
  font-size: 15px;
  text-decoration: none;
  color: $aero-blue;
  &:hover {
    color: $tomato;
  }
}
