.card-product {
  height: 200px;
  background: #003252;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 16px;
  transition: .5s;
  padding: 16px;
  gap: 8px;
  color: white;
  &:hover {
    background: #003F66;
    transform: scale(1.03)
  }
}

.card-product img {
  width: 50%;
  height: 100%;
  border-radius: 16px !important;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: $aero-blue;
}

.card-product .card-product-infos {
  width: 50%;
  height: 100%;
  padding: 0 16px;
  border-radius: 16px;
  box-shadow: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div {
    box-shadow: none;
  }
}

.card-price {
  font-size: 20px !important;
}
