.dash-heading {
  text-align: center;
  font-family: $headers-font;
  font-weight: bold;
  color: $aero-blue;
  padding-bottom: 10px;
}

.dash-item-heading {
  font-family: $headers-font;
  font-weight: bold;
  color: $indigo-blue;
  padding-bottom: 10px;
}

.res-heading {
  font-family: $body-font;
  text-align: center;
}


.dash-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: $gold;
  border-radius: 16px;
  box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
}

.dash-item {
  margin: 0 auto;
  justify-content: space-between;
  padding: 32px;
  text-align: center;
  width: 30%;
}

.dash-button {
  width: 200px;
  margin: 0 auto;
}

.reservation-info {
  border-bottom: 3px solid $tomato;
  text-align: left;
  padding: 8px;
  margin-bottom: 16px;
  color: $indigo-blue;
}

.reservation-info i {
  font-size: 30px;
  padding-right: 10px;
}

.reservation-info a {
  color: $indigo-blue;
  text-decoration: none;
  text-align: center;
  transition: .3s;
    &:hover {
      color: $tomato
    }
}

.display-name {
  display: flex;
  align-items: center;
  margin-left: 0;
  .dashboard-avatar {
      margin-right: 10px;
      border-radius: 50%;
      background: $indigo-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      font-weight: 700;
      color: $gold;
    }
}

.icon-info {
  display: flex;
  align-items: center;
  .icon-info p {
    justify-content: center;
    align-items: center;
  }
}
