.dash-heading {
  text-align: center;
  font-family: $headers-font;
  font-weight: bold;
  color: $aero-blue;
  padding-bottom: 10px;
}

.dash-item-heading {
  font-family: $headers-font;
  font-weight: bold;
  color: $indigo-blue;
  padding-bottom: 10px;
  border-bottom: 1px solid $tomato;
}

.res-heading {
  font-family: $body-font;
  text-align: center;
}


.dash-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: $gold;
  border-radius: 16px;
  box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
}

.dash-item {
  margin: 0 auto;
  justify-content: space-between;
  padding: 32px;
  text-align: center;
  width: 30%;
}

.dash-button {
  width: 200px;
  margin: 0 auto;
}

.reservation-info {
  border-bottom: 1px solid $tomato;
  text-align: left;
  padding: 8px;
  margin-bottom: 16px;
  color: $indigo-blue;
}

.reservation-info a {
  color: $indigo-blue;
  text-decoration: none;
  text-align: center;
  transition: .3s;
    &:hover {
      color: $tomato
    }
}

.dashboard-avatar {
  color: $indigo-blue;
  border-radius: 50%;
    background: $aero-blue;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
}
