.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  color: rgba(255, 255, 255, .7);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(255, 255, 255, .7);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-msg {
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $aero-blue;
    }
  }
}
