.create-form {
  width: 60%;
  background-color: $gold;
  margin: 40px auto;
  padding: 30px 0;
  border-radius: 16px;
  box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
}

form {
  color: $indigo-blue;
  margin: 0 auto;
  width: 70%;
}
.form-heading {
  text-align: center;
  color: $indigo-blue;
  margin-top: 20px;
  font-weight: 700;
}
.form-submit-btn {
  width: 100%;
  background: $aero-blue;
  border-radius: 16px;
  transition: .3s;
  font-weight: 700;
  color: $indigo-blue;
  &:hover {
    background: $tomato;
    color: white;
  }
}
.form-link {
  color: $aero-blue;
  opacity: .8;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 300;
  &:hover {
    color: white;
  }
}
.form-links {
  color: $aero-blue;
  text-align: center;
  a {
    color: $aero-blue;
    transition: .3s;
    &:hover {
      color: white;
    }
  }
}
