.homepage-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 72px auto;
  .homepage-card {
    width: 20vw;
    height: 20vw;
    background: $gold;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
    transition: .5s;
    &:hover {
      transform: scale(1.02);
      background: #F5AE51;
      cursor: pointer;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 90%;
    }
  }
  p {
    color: $indigo-blue;
    font-size: 20px;
  }
}

#see-offers-btn {
  width: 20%;
  background: $aero-blue;
  display: block;
  text-decoration: none;
  color: $indigo-blue;
  text-align: center;
  padding: 16px;
  font-size: 20px;
  border-radius: 16px;
  box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
  transition: .3s;
  &:hover {
    background: $tomato;
    color: white;
  }
}
