.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.content-container {
  margin-top: 88px;
}

.show-page-flex {
  display: flex;
  justify-content: space-between;
  .show-page-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.show-confirmation {
  text-align: center;
  .message {
    color: $gold;
  }
}
