.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  color: #F8684E;
  display: flex;
  align-items: baseline;
  font-size: 16px;
  i {
    font-size: 24px;
    margin-right: 8px;
  }
}
