.navbar-lewagon {
  justify-content: space-between;
  background: $indigo-blue;
  padding: 24px;
  .nav-item a {
    color: white;
    &:hover {
      color: $aero-blue;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  color: $aero-blue;
  display: flex;
  align-items: baseline;
  font-size: 16px;
  transition: .5s;
  i {
    font-size: 24px;
    margin-right: 8px;
  }
  &:hover {
    color: $tomato;
  }
}

#create-offer-btn {
  background: $aero-blue;
  border-radius: 16px;
  color: $indigo-blue;
  box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
  font-weight: 700;
  padding: 8px 24px;
  &:hover {
    background: $tomato;
    color: white;
  }
}
.my-dropdown {
  display: inline-block;
  position: relative;
  .my-dropdown-circle {
    border-radius: 50%;
    background: $gold;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: $indigo-blue;
    transition: .3s;
    box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
    &:hover {
      background: $tomato;
      cursor: pointer;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 120px;
    width: fit-content;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: $indigo-blue;
    a {
      display: block;
      padding: 5px;
      text-decoration: none;
      color: $aero-blue;
      font-family: 'Lato', sans-serif;
      text-align: right;
      border-radius: 8px;
      &:hover {
        background-color: $gold;
        color: $indigo-blue;
      }
    }
  }
  &:hover .dropdown-content {
    display: block;
  }
}
