.navbar-lewagon {
  justify-content: space-between;
  background: $indigo-blue;
  .nav-item a {
    color: white;
    &:hover {
      color: $aero-blue;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  color: $aero-blue;
  display: flex;
  align-items: baseline;
  font-size: 16px;
  transition: .5s;
  i {
    font-size: 24px;
    margin-right: 8px;
  }
  &:hover {
    color: $tomato;
  }
}

#create-offer-btn {
  background: $aero-blue;
  border-radius: 16px;
  color: $indigo-blue;
  box-shadow: 2px 2px 16px hsla(0, 0%, 0%, .5);
  font-weight: 700;
  &:hover {
    background: $tomato;
    color: white;
  }
}
