.search-container {
  height: 60px;
  form {
    margin-left: 0;
    box-shadow: 2px 2px 16px rgba($color: #000000, $alpha: 0.5);
  }
}
.search-bar{
  box-sizing: border-box;
}
.search-button{
  background: $aero-blue;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 38px;
  width: 70px;
  transition: .3s;
  font-weight: 700;
  border: none;
  float:left;
  overflow:hidden;
  margin-bottom: 16px;
  color: $indigo-blue;
    i {
    margin-top: -15px;
    margin-left: -5px;

  }
  &:hover {
    background: $tomato;
    color: white;
  }
}


.one {
  float:left;
  width:40%;
  height: 60px;
  overflow:hidden;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
    input {
      border-radius: inherit;
    }
}

.two {
  float:left;
  width:30%;
  height: 60px;
  overflow:hidden;
}
