.show-offer {
  margin-top: 8px;
  color: white;
  .show-offer-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    a {
      margin: 0;
    }
    .show-offer-price {
      font-size: 32px;
      display: block;
      color: $aero-blue;
    }
  }
  .show-equipment-type {
    font-style: italic;
    color: $aero-blue;
  }
  .show-offer-owner {
    opacity: .6;
  }
}

.show-images {
  margin: 32px 0;
  height: 320px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 48px;
  &::after {
    content: "";
    background: url(https://thumbs.dreamstime.com/b/sports-gear-white-4114757.jpg);
    background-size: cover;
    background-position-y: center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 16px;
  }
    img {
      height: 80%;
      border-radius: 16px;
      box-shadow: 2px 2px 16px rgba(0, 0, 0, .5);
      transition: .5s;
      &:hover {
        transform: scale(2);
        cursor: zoom-in;
      }
    }
}
